/* line 17, content/style/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, content/style/screen.scss */
html {
  color: #666666;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

/* line 27, content/style/screen.scss */
body {
  margin: 0;
  background: #f4f4f4 url(/images/new-bg.jpg) repeat-y;
}

/* line 32, content/style/screen.scss */
p {
  line-height: 28px;
}

/* line 36, content/style/screen.scss */
h1 {
  color: white;
  font-family: "Kreon", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding-top: 36px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

/* line 46, content/style/screen.scss */
#main-container {
  overflow: hidden;
  *zoom: 1;
  width: 1196px;
}

/* line 51, content/style/screen.scss */
#sidebar {
  float: left;
  width: 448px;
  padding: 0 48px;
}

/* line 57, content/style/screen.scss */
#sidebar :link, #sidebar :visited {
  color: white;
  text-decoration: none;
}

/* line 62, content/style/screen.scss */
#sidebar :link:hover, #sidebar :visited:hover {
  text-decoration: underline;
}

/* line 66, content/style/screen.scss */
#nav-list {
  font-size: 30px;
  list-style: none;
  font-family: "Kreon", sans-serif;
  letter-spacing: 0.03em;
  color: white;
  padding-left: 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

/* line 76, content/style/screen.scss */
#nav-list li {
  margin-bottom: 18px;
}

/* line 80, content/style/screen.scss */
#nav-videos-list {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  list-style: none;
  margin-top: 18px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

/* line 90, content/style/screen.scss */
.selected {
  color: white;
}

/* line 94, content/style/screen.scss */
#content {
  float: left;
  padding: 48px 0 36px 48px;
}

/* line 100, content/style/screen.scss */
h3 {
  color: #222222;
  font-family: "Kreon", sans-serif;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 18px;
  text-shadow: 2px 2px #fff;
}

/* line 109, content/style/screen.scss */
#description {
  color: #666666;
}

/* line 113, content/style/screen.scss */
#description :first-child {
  margin-top: 18px;
}

/* line 119, content/style/screen.scss */
#videos-index {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 3px;
  padding-left: 3px;
}

/* line 125, content/style/screen.scss */
.video-preview {
  float: left;
  margin-right: 34px;
}

/* line 130, content/style/screen.scss */
.video-preview :link, .video-preview :visited {
  text-decoration: none;
  color: #666666;
}

/* line 135, content/style/screen.scss */
.video-preview :link:hover, .video-preview :visited:hover {
  text-decoration: underline;
}

/* line 139, content/style/screen.scss */
.video-preview-title {
  margin-bottom: 9px;
  font-size: 21px;
  font-weight: normal;
}

/* line 145, content/style/screen.scss */
.video-preview-image {
  background: white;
  padding: 9px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  height: 184px;
}

/* line 158, content/style/screen.scss */
.videos-page #content {
  width: 748px;
}

/* line 164, content/style/screen.scss */
#about-me {
  overflow: hidden;
  *zoom: 1;
}

/* line 168, content/style/screen.scss */
#about-me-text {
  float: left;
  width: 350px;
  padding-right: 48px;
}

/* line 174, content/style/screen.scss */
#about-me-image {
  float: left;
}
